<%- include('../shared/header', { title: 'Edytuj Przepis' }) %>

<div class="container">
    <h2>Edytuj przepis</h2>
    <form action="/edit/<%= recipe.id %>" method="post">
        <label for="name">Nazwa:</label>
        <input type="text" id="name" name="name" value="<%= recipe.name %>" required><br>
        <label for="ingredients">Składniki (oddzielone przecinkami):</label>
        <input type="text" id="ingredients" name="ingredients" value="<%= recipe.ingredients.join(', ') %>" required><br>
        <label for="instructions">Instrukcje:</label>
        <textarea id="instructions" name="instructions" required><%= recipe.instructions %></textarea><br>
        <label for="prepTime">Czas przygotowania (w minutach):</label>
        <input type="number" id="prepTime" name="prepTime" value="<%= recipe.prepTime %>"><br>
        <button type="submit">Zapisz zmiany</button>
    </form>
</div>
